[user]
	email = rika26887@gmail.com
	name = practice-ca
[init]
	defaultBranch = main
[core]
	editor = vi
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[sequence]
	editor = vi
